---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import ContentSection from '../components/ContentSection.astro';
import manCalculatorHouse from '../assets/img/manCalculatorHouse.webp';
import buildingBalcony from '../assets/img/buildingBalcony.webp';
---

<Layout title="Sobre nosotros">
  <div class="flex flex-col items-center animate-fadeIn">
    <Banner 
      title="Administración"
      image={buildingBalcony}
      imageAlt="Edificio con balcones"
      darkOverlay={true}
    />
    
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center space-y-12 max-w-6xl mb-24">
        <div class="w-full px-4 sm:px-6 lg:px-8">
          <ContentSection
            image={manCalculatorHouse}
            imageAlt="About Us"
            title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            description="Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          />
        </div>
      </div>
    </div>
</Layout>

<style>
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }

  .animate-fadeIn {
    animation: fadeIn 0.8s ease-out forwards;
  }
</style>

